.jumbotron {
	background: #d9534f;
	color: #fff;
}

#train-input {
	padding: 15px;
}

input {
	padding-left: 15px;
}

label {
	margin-top: 5px;
}

.btn {
	margin-top: 15px;
}

.but {
	padding: 0;
}

.delete {
	margin-right: 5px;
}